# Text Analytics Group Assignment2
Due: September 25, 2017, by 11:59 p.m. In this assignment you are an analytics consultant to a   (i) brand manager, (ii) product manager and (iii)advertising manager. Your job is    to give advice/insights to these individuals based on the analysis of social media conversations. The detailed tasks are described below. We use cars as an example of a “high involvement” good (recall from class discussions that for high involvement goods, people use social media heavily for awareness building and research).

1.Develop a   crawler/scraper to fetch messages posted in Edmunds.com discussion forums. The crawler output should be a .csv file with the following columns: date, userid, and message (even though you will only use the messages in your analysis). Before you develop the crawler, carefully study one of the forums on Edmunds.com to understand the html as well as the threading structures.

2.Fetch between 5,000 and 10,000 posts about cars from a General topics forum. Do NOT choosea forum dedicated to a   particular brand or model. Instead, you can choose the General & Sedans categories and then select, for example, the Entry Level Luxury forum https://forums.edmunds.com/discussion/2864/general/x/entry-level-luxury-performance-sedansThe idea is    to have multiple brands and models being discussed without one of them being the focal point.

3.Once you fetch the data, find the top 10 brands from frequency counts. You will need to write a script to count the frequencies. Be sure not to count a mention more than once per post, evenif   it    is mentioned multiple times.Replace modelswith brands so that from now on you have to deal with only brands and not models. You will need another script for this job. This step is meant to help simplify the analysis. A    list of model and brand names (not exhaustive) are provided in a separate file.

#### Task A:
Identify top 10 brands by frequency. From the posts, calculate lift ratios for associations between the brands. You will have to write a   script to do this task). Show the brands on a   multi-dimensional scaling (MDS) map (use a Python script for MDS, there are multiple scripts available onthe Internet).

In [50]:
import pandas as pd
from nltk.corpus import stopwords

In [51]:
#car forum data
forum_data =pd.read_csv('reed_new_out.csv', header = 0)

df2=pd.DataFrame([['April 12, 2002 2:53PM','dani','bmw toyota pontiac honda acura audi nissan infiniti ford subaru']], columns=['date','userid','message'])
forum_data=forum_data.append(df2)
forum_data['message']=forum_data['message'].str.lower()
forum_data[:3]

,Unnamed: 0,date,message,userid
0,0.0,"March 23, 2002 7:04PM",entry level performance luxury sedans are a ho...,cybersol
1,1.0,"March 25, 2002 5:54AM",i personally think that with a few tweaks the ...,merc1
2,2.0,"March 25, 2002 7:06AM",i am debating a new purchase and these two are...,fredvh

In [52]:
#list of car brands/names
model_list =pd.read_csv('Cars make model list3.csv', header = 2)
model_list['Search']=model_list['Search'].str.lower()

In [53]:
##some of the Search values from the model_list df have a weird format after that we need to remove
#'legend\xca'.replace('\xca','')
model_list['Search'].replace('\xca','').values
ls=model_list['Search'].tolist()

for i in range(len(ls)):
    ls[i]=ls[i].replace('\xca','')

ls                              #the correct names now! add this back to model_list df
model_list['Search1']=ls        #setting new column equal to correct values

In [54]:
def replace_model(s):
    for model in model_list['Search1'].values:
        if model in s:
            s=s.replace(model,model_list[model_list['Search1']==model]['Replace'].values[0])
    return s

In [80]:
#mapping that function to forum df
forum_data['message_clean']=forum_data['message'].astype(str).map(replace_model)

In [56]:
#removing stopwords and adding to new column in df
stop = stopwords.words('english')
forum_data['message_without_stopwords'] = forum_data['message_clean'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

In [81]:
#count the number of messages that contain each brand name
#careful- don't want to count same message twice if brand is stated twice

counter={}
for brand in model_list['Replace'].drop_duplicates():
    if len(forum_data['message_without_stopwords'].str.contains(brand).value_counts().values)>1:
        count=forum_data['message_without_stopwords'].str.contains(brand).value_counts()[True]
    else:
        count=0
    counter[brand]=count

In [58]:
counterlist=[] #list of [brand, #messages brand appears in]
for key, value in counter.iteritems():
    temp = [key,value]
    counterlist.append(temp)

top10=sorted(counterlist, key=lambda x: x[1],reverse=True)[:10]
top10 #list of top 10 [brand, #messages]

[['bmw', 1866],
 ['toyota', 1654],
 ['pontiac', 1088],
 ['honda', 683],
 ['acura', 675],
 ['audi', 594],
 ['nissan', 562],
 ['infiniti', 506],
 ['ford', 296],
 ['subaru', 277]]

In [103]:
#dictionary of top 10 to values and list of top 10 brands
num={}  #dictionary of top 10 {'brand':#messages}
for i in top10:
    num[i[0]]=i[1]
num

listof10=[]   
for i in top10:
    listof10.append(i[0])
listof10   #list of only brand names
#pd.DataFrame.from_dict(num, orient='columns', dtype=None)

freq_table=pd.DataFrame(columns=['Number of Messages'], index=num.keys())
freq_table['Number of Messages']=num.values()
freq_table.sort_values('Number of Messages', ascending=False)

          Number of Messages
bmw                     1866
toyota                  1654
pontiac                 1088
honda                    683
acura                    675
audi                     594
nissan                   562
infiniti                 506
ford                     296
subaru                   277

In [99]:
num
#getting combinations of top 10 brand names, naming the list of (brand1, brand2) as comb
# import itertools
# print list(itertools.combinations(listof10,2))
# comb=list(itertools.combinations(listof10,2))

{'acura': 675,
 'audi': 594,
 'bmw': 1866,
 'ford': 296,
 'honda': 683,
 'infiniti': 506,
 'nissan': 562,
 'pontiac': 1088,
 'subaru': 277,
 'toyota': 1654}

In [79]:
#counting how many messages contain each combination of brands
#counter_comb={(brand1, brand2):num of messages}

# counter_comb={}
# for brand in comb:
#     mask_b0=(forum_data['message_without_stopwords'].str.contains(brand[0]))
#     mask_b1=(forum_data['message_without_stopwords'].str.contains(brand[1]))
#     mask=(mask_b0 & mask_b1)
#     count=len(forum_data['message_without_stopwords'][mask])
#     counter_comb[brand]=count
# counter_comb

In [82]:
#calculate lift for associations between the top 10 brands
#lift=number of messages*num messages with a and b / (num messages with a) * (num messages with b)

def lift(a, b):
    num = len(forum_data)
    num_a = float(counter[a])
    num_b = float(counter[b])
    if_has_a = forum_data[forum_data['message_without_stopwords'].str.contains(a)]
    num_a_and_b = len(if_has_a['message_without_stopwords'][if_has_a['message_without_stopwords'].str.contains(b)])
    return num*float(num_a_and_b)/float(num_a * num_b)
# lift_ratios={} 
# for brands in comb:
#     #print brands
#     lift_val=lift(brands[0],brands[1])
#     lift_ratios[brands]=lift_val
# lift_ratios  #dictionary of {(brand1, brand2):lift value}

In [78]:
lift_df = pd.DataFrame(columns=listof10, index=listof10)

for brand1, series in list(lift_df.iterrows()):
    for brand2 in series.index:
        if brand1 != brand2:
            lift_df[brand1].loc[brand2] = lift(brand2, brand1)

lift_df

,bmw,toyota,pontiac,honda,acura,audi,nissan,infiniti,ford,subaru
bmw,NaN,1.28502,1.41893,1.26379,1.42085,1.64585,1.18907,1.8954,1.43192,1.1839
toyota,1.28502,NaN,1.27679,1.70173,1.39096,1.39848,1.50916,1.32439,1.50933,1.28525
pontiac,1.41893,1.27679,NaN,1.4683,1.65078,1.5275,1.70889,2.79984,1.05763,1.37919
honda,1.26379,1.70173,1.4683,NaN,2.41676,1.35182,2.42142,1.45328,2.05599,1.37314
acura,1.42085,1.39096,1.65078,2.41676,NaN,2.13095,1.87183,3.00862,1.64695,1.88342
audi,1.64585,1.39848,1.5275,1.35182,2.13095,NaN,1.48723,2.53535,1.80587,1.78939
nissan,1.18907,1.50916,1.70889,2.42142,1.87183,1.48723,NaN,2.19249,1.9781,1.52044
infiniti,1.8954,1.32439,2.79984,1.45328,3.00862,2.53535,2.19249,NaN,1.54177,1.81227
ford,1.43192,1.50933,1.05763,2.05599,1.64695,1.80587,1.9781,1.54177,NaN,1.83064
subaru,1.1839,1.28525,1.37919,1.37314,1.88342,1.78939,1.52044,1.81227,1.83064,NaN

#### Task B:
What insights can you offer brand managers from your analysis in Task A    (choose two brands that you can offer the most interesting/useful insights for)?

#### Task C:
What are 5   most frequently mentioned attributes of cars in the discussions? Note that the same attribute may be described by different words –   e.g., pick-up and acceleration may both referto a more general attribute, “performance”. You have to make suitable replacements. Now pick the 5 most frequently mentioned brands. Which attributes are most strongly associated with which of these 5   brands? You DON’T have to do a sentiment analysis for this assignment.
While BMW has claimed that they are the “ultimate driving machine”, is    that how people feel on Edmunds? Show your analysis.

#### Task D:
What advice will you give to a (i) product manager, and (ii) marketing/advertising manager of these brands based on your analysis in Task C? For this assignment, you can assume the sentiment (e.g., that it   is    positive).

#### Task E:
Which is the most aspirational brand in your data in terms of people actually wanting to buy or own? Describe your analysis. What are the business implications for this brand? Provide the following details in your write-up (I    am not setting a   strict page limit, but 3-4 pages, single-spaced, 11 font size should be enough with screenshots)

1.Which forum you chose (provide URL) 

2.Which 10 brands you chose –   provide the frequency table

3.Show all lift calculations in a   table.

4.Show the MDS map (put screenshots in your report)

5.State the 5   attributes you chose (again, a   table is    good here). 

6.For task E, provide all details of your analysis –   e.g., how you measured “aspirational” and howyou found the most aspirational brand.

7.Advice/insights based on your analysis for brand, product and advertising managers. Your submission should include all scripts as well as your answers to the questions above (generally speaking, I  won’t run these scripts, but if   the numbers don’t look right, I may run some of them). Also include the final data file after all replacements of models and attributes have been done.